.image-container
  - @gallery.images[-100..-1].each do |image|
    .image{ style: "background-image: url(#{image.url}); height: #{(33.3333 * image.height / image.width).round}vw", class: ('vertical' if image.vertical?) }
