%script{type: 'text/x-handlebars', :'data-template-name' => 'application'}
  <h1>Galleries</h1>
  <hr>
  <p>{{outlet}}</p>
  </div>
  </div>

%script{type: 'text/x-handlebars', :'data-template-name' => 'galleries'}
  -#{{ partial "tableMenu" }}
  <div>
  {{#each gallery in controller}}
  {{gallery.id}}
  {{#link-to 'gallery' this}}
  {{gallery.title}}
  {{/link-to}}
  <br>
  {{/each}}
  {{ outlet }}
  </div>

%script{type: 'text/x-handlebars', :'data-template-name' => 'gallery'}
  <h2>Gallery <span>{{ title }}</span></h2>

%script{type: 'text/x-handlebars', :'data-template-name' => 'galleries/index'}
  <h2>Select a table at left</h2>
